*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.grid-conatainer{
    display: grid;
    grid-template-columns: 20% 50% 30%;
}
.grid-items{
    border: 3px solid goldenrod;

}
.navbar,.image,.footer,.copyright{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  .about{
    height: 200px;
    color: #111;
    background-color: aqua;
  }