*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: aqua;
}
.grid-items{
    border: 5px solid green;
    height: 200px;
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
}