*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: aqua;
    align-items: center;
}
img{
    width: 60px;
    height: 100px;
}
a{
    background-color: blueviolet;
    font-size: 40px;
    border: 5px solid red;
    border-radius: 12px;
    text-decoration: none;
}
a:hover{
    background-color: chartreuse;
    color: coral;
}
.lgn{
    background-color: deeppink;
}
.maincontent{
    display: flex;
    border: 3px solid yellow;
    justify-content: space-between;
    margin: 20px;
    height: 300px;
    background-color: goldenrod;
}
table{
    font-size: 30px;
    border: 5px solid plum;
    border-radius: 12px;
}